HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
bindkey -e
bindkey '^H' backward-kill-word
bindkey '5~' kill-word
bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word
zstyle :compinstall filename '~/.zshrc'

autoload -Uz compinit
compinit
zstyle ':completion:*' menu select

unsetopt BEEP

cd
eval "$(starship init zsh)"

source ~/antigen.zsh
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle zsh-users/zsh-syntax-highlighting
antigen apply

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

PATH="/{% if ansible_os_family == "Darwin" %}Users{% else %}home{% endif %}/{{ ansible_user_id }}/.local/bin:/{% if ansible_os_family == "Darwin" %}Users{% else %}home{% endif %}/{{ ansible_user_id }}/go/bin:$PATH"

[ -f /Applications/Visual\ Studio\ Code.app/Contents/Resources/app/bin/code ] && PATH="$PATH:/Applications/Visual Studio Code.app/Contents/Resources/app/bin"
[ -f /Users/{{ ansible_user_id }}/Library/Python/3.8/bin/ansible-playbook ] && PATH="$PATH:/Users/{{ ansible_user_id }}/Library/Python/3.8/bin"
[ -f /opt/homebrew/bin/brew ] && eval "$(/opt/homebrew/bin/brew shellenv)"

eval "$(zoxide init zsh)"

alias ls='ls --color=auto'
alias ll='ls -lah'
alias t='tmux'
alias cd='z'
